.ui.secondary.pointing.menu .item.logo {
    padding: 0 1em 0.4em 0;
}

.menu .item.logo svg {
    height: 28px;
}

.ui.menu:not(.vertical) .left.menu {
    margin-right: 0!important;
}

#PageHeader .sidebar,
#Thyme-Header .sidebar {
    background: rgba(0, 0, 0, .95);
    width: 210px;
    top: 51px;
}
