.Documentation .segment {
    padding: 2em 0;
}

.Documentation-Button .icon {
    align-items: center;
    justify-content: center;
    display: flex;
}

.Documentation-Options {
    margin: 1em 0 2em 0;
}

.Documentation-Content {
    margin-bottom: 5em;
}
