#Thyme-Header {
    align-items: center;
    background-color: #00b5ad;
    background-size: cover;
    background-position: center center;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    max-height: 700px;
}

#Thyme-Header .text.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.ExtensionsContainer img {
    width: 30px;
    margin-right: 10px;
}

.ExtensionsContainer {
    margin: 3em 0;
    display: flex;
    justify-content: center;
}

.ExtensionsContainer a {
    display: flex;
    align-items: center;
    margin: 0 2em;
    color: #fff;
}

.ExtensionsContainer a:hover {
    text-decoration: underline;
}
