body {
    fill: currentColor;
}

.Home h2.ui.header {
    font-size: 2.5rem;
}

.Home h3.ui.header {
    font-size: 2rem;
}

.Home p {
    font-size: 1.33em;
}

.Home .cta svg {
    height: 100px;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.3);
}

.Home .cta .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    .Home .cta svg {
        height: 40px;
        margin-right: 10px;
        margin-bottom: 0;
    }

    .Home .cta .header {
        flex-direction: row;
    }
}
